.profilUser{
    display: flex;
    align-items: center;
    gap: 5%;
}

.imageUserEvent{
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: 50% 50%;
}

.eventUserListe{
    margin: 10px 0px;
    border: solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}